*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
h1{
    font-family: cursive;
    font-size: 30px;
}
.container{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 100px;
}
.add{
    width: 300px;
    height: 300px;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    text-align: center;
    padding: 50px;
    gap: 15px;
    border-radius: 25px;
}
.show{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    text-align: center;
    padding: 50px;
    border-radius: 25px;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

}
label{
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input{
    height: 55px;
    font-size: 50px;
    border-radius: 5px;

}
button{
    height: 55px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    font-size: 20px;
    border: 1px solid white;
    text-transform: uppercase;
    color:#FFE53B;
}
button:hover{
    background-color: #52ACFF;
    background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);
    color: black;
}